body {
    margin: 0;
}
header {
    text-align: center;
    padding: 40px;
    margin: 20px;
}
h2 {
    text-align: center;
    padding: 10px;
}

.weather-card {
    gap: 20px;
}
.weather-card img {
    width: 80px;
}
.history-item {
    max-width: 700px;
    margin: 10px auto;
}
.history-item img {
    width: 60px;
}
footer {
    text-align: center;
}
/* Responsive */
@media (max-width: 600px) {
    .weather-card,
    .history-item {

    }
    .weather-card img {
        width: 70px;
    }
}